body {
  margin: 0;
  font-family: 'Candara';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.li{
  text-decoration: none;
}
.slider{
  opacity: 0.5;
  transform: scale(0.7);
  transition: 0.5s;
  filter:blur(2px);
}

.sliderActive{
  opacity: 1;
  transform: scale(0.9);
  filter:blur(0);
}
.text{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 5% 2%;
  transform: translateX(-50%);
  opacity: 0;
  cursor: pointer;
  transition: 1s;
  background-color: #50C878;
  height: fit-content;
}
.sliderActive:hover .text{
  opacity: 1;
  bottom: 80px;
}
.cardIcon{
  background: linear-gradient(60deg, rgb(178,108,41) 0%, rgb(253,190,16) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #fff;
}